@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-bg: #0D0D2B;
    --btn-bg: #3671E9;
    --stat--icon-colour: #3671E9;
    --secondary-color: #2B076E;
    --grey-color: #828282;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--main-bg);
    padding: 0px 20px;
}

/* Font sizes */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
    /* line-height: 150%; */
}

h3 {
    font-size: 1.2em;
    /* line-height: 150%; */
}

p {
    font-size: 0.8em;
}

.title-lg-m {
    font-size: 1em;
    /* line-height: 150%; */
}

.title-sm-m {
    font-size: 0.7em;
    /* line-height: 150%; */
}

.body-lg {
    font-size: 0.75em;
}

.body-sd {
    font-size: 0.625em;
}

.body-sm {
    font-size: 0.8em;
}

.blue-text {
    color: var(--stat--icon-colour);
}

.grey-text {
    color: #828282;
}

/* Header */

header {
    overflow: hidden;
    position: relative;
}

/* Brand */

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand img {
    margin-right: 16px;
}

.brand-name {
    font-size: 18px;
    color: white;
    letter-spacing: 4%;
}

.nav-items {
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 100px0;
    text-align: center;   
    height: 100vh;
    overflow: hidden;
    padding: 25px;
    right: -1000px;
    transition: 1s;
    z-index: 99;
}

header {
    padding: 20px;
    color: white;
}

/* Nav bar */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* Hamburger icons */

.hamburger .material-symbols-outlined {
    color: white;
}

/* Hero section */

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.hero-text h6 span:first-child {
    background-color: white;
    font-weight: 800;
    color: var(--main-bg);
    padding: 4px 16px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-right: 20px;
}

.hero-text h6 {
    padding: 4px 11px 4px 4px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.hero-text h1 {
    margin-bottom: 25px;
}

.hero-text p {
    margin-bottom: 32px ;
}

.btn {
    background-color: var(--btn-bg);
    color: white;
    padding: 15px 21px;
    font-size: 16px;
    border-radius: 32px;
    display: inline-block;
}

.hero .btn, .coin .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: 100%;
}

.hero-text .material-symbols-outlined {
    background-color: white;
    color: var(--btn-bg);
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

/* Hero Illustration */

.hero-illustration img {
    width: 100%;
}

/* Main */

main {
    padding: 50px 20px;
    /* position: relative; */
}


/* Stats section */

.stats-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.stat-icon {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.stat-icon i {
    color: var(--stat--icon-colour);
    font-size: 28px;
}

/* Why section */

.why-section {
    text-align: center;
    padding: 20px 0px 100px 0px;
    color: white;
    position: relative;
}

.why-section-img {
    margin-bottom: 300px;
}

.why-section-content {
}

.why-section p {
    margin-bottom: 30px;
}

.why-section img {
    width: 100%;
}

/* floating section */

.floating-section {
    color: white;
    text-align: center;
    position: absolute;
    width: 80%;
    bottom: -370px;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.floating-section p {
    font-size: 0.8em;
}

.floating-inner-section {
    background-color: white;
    color: var(--main-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.1px black;
}

.floating-inner-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.floating-inner-section form > * {
    margin-bottom: 10px;
}

.floating-inner-section form input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 0.8em;
}

.floating-inner-section form select {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    outline: none;
    font-size: 0.8em;
}

.floating-inner-section form input::placeholder {
    color: black;
    font-weight: 600;
    font-size: 0.8em;
}

button.btn {
    padding: 8px 16px;
    border: none;
    font-size: 0.8em;
}

/* Coin sections */


.coin-section {
    color: var(--main-bg);
    background-color: white;
    text-align: center;
    padding: 20px ;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-section h2 {
    margin-bottom: 65px;
    /* font-size: 9vw; */
}

.coin {
    border-radius: 10px;
    color: white;
    background-color: var(--secondary-color);
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 370px;
    width: 100%;
}

.crypto-img {
    margin-bottom: 48px;
    height: 60px;
    width: 60px;
}

.coin-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.coin-name h3{
    margin-right: 8px;
}

.coin p {
    margin-bottom: 25px;
}

.coin .material-symbols-outlined {
    background-color: white;
    color: var(--stat--icon-colour);
    border-radius: 50px;
}

/* Feature section */

.features-section {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features-section > * {
    margin: 50px 0;
}

.features-section .feature h2 {
    margin-bottom: 10px;
}

.features-section p {
    margin-bottom: 20px;
}

.features-section .feature-text {
    margin-bottom: 30px;
}


.middle-feature .feature-text {
    margin-bottom: 0;
}

.middle-feature .feature-img {
    margin-bottom: 30px;
}

.features-section img {
    width: 100%;
}
/* newsletter */

.newsletter {
    margin: 40px 0;
    background-color: var(--stat--icon-colour);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 48px 20px;
}

.newsletter-text {
    margin-bottom: 20px;
}

.newsletter-form {
    width: 100%;
}

.newsletter-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newsletter-form form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px 5px;
}

.newsletter-form form input::placeholder {
    color: white;
    font-size: 18px;
}

.newsletter-form form button {
    color: var(--main-bg);
    background-color: white;
    border: none;
    font-weight: 500;
}

footer {
    color: 20px;
}

footer .footer-wrapper .footer-top .colum {
    text-align: center;
}

.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-brand img {
    margin-right: 10px;
    margin-bottom: 20pxs;
}

footer ul li{
    text-decoration: none;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .colum {
    margin-bottom: 30px;
    color: white;
}

footer .colum h4 {
    font-size: 1.25em;
    color: white;
    margin-bottom: 20px;
}

footer .cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    max-width: 96px;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-height: 40px;
}

.card:nth-child(2) {
    margin: 0px 5px;
}

.footer-bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-bottom .copryright {
    color: white;
}

footer .socials i {
    color: white;
    font-size: 21px;
    margin: 2px;
    transition: 0.5s;
}

footer .socials i:hover {
    color: var(--stat--icon-colour);
}

footer .socials {
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Nav 0pen */

.nav-open {
    left: 0;
    right: 0;
    transition: 1s;
}

.nav-items .auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items .auth ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    width: 100%;
    margin-bottom: 20px;
}

.nav-items .auth li {
    margin-bottom: 0;
}
.auth-middle {
    width: 2px;
    background-color: white;
    height: 30px;
}

.nav-items .btn {
    padding: 10px 20px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-items li{
    list-style: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.nav-items i {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 32px;
}

li {
    list-style: none;
}

/* media query */

@media (min-width: 800px) {
    
    /* Header */
    header {
        max-width: 1202px;
        width: 100%;
        margin: 0  auto;
    }
    /* Hamburger */
    .hambuger {
        display: none;
    }

    /* Nav items  */

    .nav-items {
        position: static;
        background-color: transparent;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .nav-items i {
        display: none;
    }

    .nav-items ul {
        display: flex;
    }

    .nav-items ul li {
        font-size: 14px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-items .auth {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-items .auth ul {
        margin-bottom: 0;
    }

    .nav-items .auth .auth-middle {
        margin-right: 20px;
    }

    /* Hero content */

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* hero text */

    .hero-text {
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
    }

    .hero-text h6{
        max-width: 250px;
    }

    /* Main */

    main {
        max-width: 1202px;
        width: 100%;
        margin: 0 auto;
    }

    /* Stats sections */

    .stats-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* why section */

    .why-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 250px;
    }

    .why-section-content {
        text-align: left;
    }

    .why-section-img {
        order: -1;
        margin-bottom: 0;
    }

    .why-section-img img {
        width: 100%;
    }

    /* floating section */

    .floating-section {
        bottom: -300px;
    }

    .floating-inner-section {
        padding: 48px;
        text-align: left;
    }
    
    .floating-inner-section form {
        flex-direction: row;
        margin-bottom: 50px;
    }
    
    .floating-inner-section form select {
        width: 100%;
        max-width: 200px;
        margin: 0px 20px;
    }

    .floating-inner-section form input {
        width: 100%;
        max-width: 400px;
    }

    /* Coins  section */

    .coins {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .coin {
        margin: 0px 10px;
    }

    /* feature section */

    .feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .feature-text {
        text-align: left;
        margin-right: 20px;
    }

    .feature-img {
        margin-left: 20px;
    }

    .middle-feature .feature-img{
        order: -1;
        margin-left: 0;
        margin-right: 20px;
    }

    .middle-feature .feature-text {
        margin-right: 0;
        margin-left: 20px;
    }

    /* Newsletter  */

    .newsletter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 48px;
    }

    .newsletter-form form {
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .newsletter-form form input {
        margin-right: 20px;
        max-width: 375px;
        width: 100%;
    }

    .newsletter-text {
        max-width: 500px;
        width: 100%;
    }

    .newletter-text-wrapper {
        max-width: 348px;
        width: 100%;
    }

    /* Footer */

    footer {
        max-width: 1202px;
        width: 100%;
        margin: 0 auto;
    }

    .footer-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    footer .footer-wrapper .footer-top .colum {
        text-align: left;
    }

    .footer-bottom  {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
}